@page
@using InventorySystem.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3" style="color: blue; font-weight: bold;">Welcome To I.M.S - Inventory management system </h1>
    <br /><br />
    <h4>Created by Daniel Shikh & Elizabeth Meirzon </h4>
    <h4>Press the login button to start work </h4>

    <br /><br />

    <a href="/LoginPage" class="btn btn-primary btn-lg">Login</a>

</div>
