@page
@model PrivacyModel
@{
   
}



<div class="text-center">
    <h1 class="display-3" style="color: blue; font-weight: bold; text-decoration: underline">Support </h1>
    <br />
    <br />
    <h2>In any case of problem</h2>
    <h2>Contact support team </h2>
    <h2>Tel: 03-7688688 </h2>
</div>
